---
layout: default
title: Home
---
{% for post in site.posts limit:3 %}
<article>
<header><h1 class="entry-title"><a href="{{ post.url }}" rel="bookmark" title="Permalink to this Post">{{ post.title }}</a></h1>
<p>Posted on {{ post.date|date_to_string }} | <a class="dsq-comment-count" href="{{ post.url }}#disqus_thread">Comments</a></p>
</header>
<div class="entry-content">
{{ post.content }}
</div>
</article>
{% endfor %}

<ul class="posts">
{% for post in site.posts %}
<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title | xml_escape }}</a></li>
{% endfor %}
</ul>
