/*  HTML5 ✰ Boilerplate  What follows is the result of much research on cross-browser styling.  Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev community and team.  Detailed information about this CSS: h5bp.com/css  ==|== normalize ========================================================== */
/* ============================================================================= HTML5 display definitions ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }

audio:not([controls]), [hidden] { display: none; }

/* ============================================================================= Base ========================================================================== */
/* 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units 2. Force vertical scrollbar in non-IE 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g */
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; font-family: sans-serif; color: #222; }

button, input, select, textarea { font-family: sans-serif; color: #222; }

/*  Remove text-shadow in selection highlight: h5bp.com/i These selection declarations have to be separate Also: hot pink! (or customize the background color to match your design)


::-moz-selection, ::selection { background: #fe57a1; color: #fff; text-shadow: none;
}

*/
/* ============================================================================= Links ========================================================================== */
a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* ============================================================================= Typography ========================================================================== */
abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
/*
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
*/
q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; top: -0.5em; }

sub { bottom: -0.25em; }

/* ============================================================================= Lists ========================================================================== */
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }

dd { margin: 0 0 0 40px; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* ============================================================================= Embedded content ========================================================================== */
/* 1. Improve image quality when scaled in IE7: h5bp.com/d 2. Remove the gap between images and borders on image containers: h5bp.com/e  */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/* Correct overflow not hidden in IE9  */
svg:not(:root) { overflow: hidden; }

/* ============================================================================= Figures ========================================================================== */
figure, form { margin: 0; }

/* ============================================================================= Forms ========================================================================== */
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*  1. Correct color not inheriting in IE6/7/8/9  2. Correct alignment displayed oddly in IE6/7  */
legend { border: 0; *margin-left: -7px; padding: 0; }

/* 1. Correct font-size not inheriting in all browsers 2. Remove margins in FF3/4 S5 Chrome 3. Define consistent vertical alignment display in all browsers */
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/* 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) 2. Correct inner spacing displayed oddly in IE6/7 */
button, input { line-height: normal; *overflow: visible; }

/* Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7 */
table button, table input { *overflow: auto; }

/* 1. Display hand cursor for clickable form elements 2. Allow styling of clickable form elements in iOS */
button { cursor: pointer; -webkit-appearance: button; }

input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* Consistent box sizing and appearance */
/*  Remove inner padding and border in FF3/4: h5bp.com/l  */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*  1. Remove default vertical scrollbar in IE6/7/8/9  2. Allow only vertical resizing */
textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* ============================================================================= Tables ========================================================================== */
table { border-collapse: collapse; border-spacing: 0; }

td { vertical-align: top; }

/* ==|== primary styles ===================================================== Author: Lance ========================================================================== */
.gsc-control-cse { font-family: Arial, sans-serif; }

.gsc-control-cse .gsc-table-result { font-family: Arial, sans-serif; }

.gsc-tabHeader.gsc-tabhInactive { border-color: #E9E9E9; background-color: #E9E9E9; }

.gsc-tabHeader.gsc-tabhActive { border-top-color: #FF9900; border-left-color: #E9E9E9; border-right-color: #E9E9E9; background-color: #FFFFFF; }

.gsc-tabsArea { border-color: #E9E9E9; }

.gsc-webResult.gsc-result, .gsc-results .gsc-imageResult { border: 0!important; }

/*
.gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult { border-color: #FFFFFF; background-color: #FFFFFF;
}
.gsc-webResult.gsc-result:hover,
.gsc-webResult.gsc-result.gsc-promotion:hover,
.gsc-imageResult:hover { border-color: #FFFFFF; background-color: #FFFFFF;
}
*/
.gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b { color: #295f89; }

.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b { color: #295f89; }

.gs-webResult.gs-result a.gs-title:hover, .gs-webResult.gs-result a.gs-title:hover b, .gs-imageResult a.gs-title:hover, .gs-imageResult a.gs-title:hover b { color: #339999; }

.gs-webResult.gs-result a.gs-title:active, .gs-webResult.gs-result a.gs-title:active b, .gs-imageResult a.gs-title:active, .gs-imageResult a.gs-title:active b { color: #339999; }

.gsc-cursor-page { color: #295f89; }

a.gsc-trailing-more-results:link { color: #295f89; }

.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType { color: #000000; }

.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl { color: #008000; }

.gs-webResult div.gs-visibleUrl-short { color: #008000; }

.gs-webResult div.gs-visibleUrl-short { display: none; }

.gs-webResult div.gs-visibleUrl-long { display: block; }

.gs-promotion div.gs-visibleUrl-short { display: none; }

.gs-promotion div.gs-visibleUrl-long { display: block; }

/*
.gsc-cursor-box { border-color: #FFFFFF;
}
*/
.gsc-results .gsc-cursor-box .gsc-cursor-page { border-color: #E9E9E9; color: #295f89; }

/*
.gsc-results .gsc-cursor-box .gsc-cursor-current-page { border-color: #FF9900; background-color: #FFFFFF; color: #295f89;
}
.gsc-webResult.gsc-result.gsc-promotion { border-color: #336699; background-color: #FFFFFF;
}
*/
.gsc-completion-title { color: #295f89; }

.gsc-completion-snippet { color: #000000; }

.gs-promotion a.gs-title:link, .gs-promotion a.gs-title:link *, .gs-promotion .gs-snippet a:link { color: #0000CC; }

.gs-promotion a.gs-title:visited, .gs-promotion a.gs-title:visited *, .gs-promotion .gs-snippet a:visited { color: #0000CC; }

.gs-promotion a.gs-title:hover, .gs-promotion a.gs-title:hover *, .gs-promotion .gs-snippet a:hover { color: #0000CC; }

.gs-promotion a.gs-title:active, .gs-promotion a.gs-title:active *, .gs-promotion .gs-snippet a:active { color: #0000CC; }

.gs-promotion .gs-snippet, .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right * { color: #000000; }

.gs-promotion .gs-visibleUrl, .gs-promotion .gs-visibleUrl-short { color: #008000; }

/* vi: set sw=2 ts=2 : */
@font-face { font-family: 'SansationRegular'; src: url("/static/fonts/Sansation_Regular-webfont.eot"); src: url("/static/fonts/Sansation_Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Sansation_Regular-webfont.woff") format("woff"), url("/static/fonts/Sansation_Regular-webfont.ttf") format("truetype"), url("/static/fonts/Sansation_Regular-webfont.svg#SansationRegular") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'SansationLight'; src: url("/static/fonts/Sansation_Light-webfont.eot"); src: url("/static/fonts/Sansation_Light-webfont.eot?#iefix") format("embedded-opentype"), url("/static/fonts/Sansation_Light-webfont.woff") format("woff"), url("/static/fonts/Sansation_Light-webfont.ttf") format("truetype"), url("/static/fonts/Sansation_Light-webfont.svg#SansationLight") format("svg"); font-weight: normal; font-style: normal; }

body { background: url("/static/images/bg_bg.jpg"); font-family: "Droid Sans", Helvetica, sans-serif; }

a { color: #295f89; }
a:visited { color: #295f89; }
a:hover { color: #295f89; }

.container { width: 910px; margin: 0 auto; padding: 0 30px; }

#header { background: url("/static/images/header_light_bg.jpg") no-repeat; height: 138px; width: 100%; min-width: 910px; }

#logo { width: 640px; height: 138px; display: inline-block; zoom: 1; *display: inline; }
#logo img { vertical-align: middle; }
#logo h1 a { text-decoration: none!important; }
#logo h1 a:link, #logo h1 a:visited { color: #006680; }
#logo h2 { color: #6f918a; font: normal 18px "Droid Sans"; margin: 0; }

nav { width: 260px; height: 60px; color: #ccc; display: inline-block; zoom: 1; *display: inline; vertical-align: top; font: normal 14px SansationRegular; }
nav ul { list-style-type: none; height: 60px; font-size: 0; letter-spacing: -4px; }
nav ul li { background: url("/static/images/nav_bg.png") no-repeat bottom left; height: 60px; text-align: center; display: inline-block; zoom: 1; *display: inline; font-size: 14px; letter-spacing: normal; }
nav ul li a { display: block; height: 25px; padding: 30px 10px 15px 10px; text-decoration: none; line-height: 45px; color: #868686; -webkit-transition: all 0.25s ease-out; -moz-transition: all 0.25s ease-out; -o-transition: all 0.25s ease-out; transition: all 0.25s ease-out; }
nav ul li a:visited { color: #868686; }
nav ul li a:hover { color: #868686; background-color: rgba(0, 54, 67, 0.4); text-decoration: none; }
nav ul li a.active { color: #fff; background: url("/static/images/nav_bg_active.png") repeat-x; }

#main { background: white url("/static/images/background.png"); width: 100%; min-width: 910px; -moz-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2); box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2); }

#main_section { font-size: 1.2em; line-height: 1.5em; margin: 0 20px 20px 0; width: 600px; display: inline-block; zoom: 1; *display: inline; vertical-align: top; }
#main_section h1 { font: normal 1.9em SansationLight,sans-serif; color: #006680; text-shadow: 0 1px 0 #fff; }
#main_section h1 a { color: #006680; text-decoration: none; }
#main_section h1 a:visited { color: #006680; }
#main_section h1 a:hover { color: #000; }
#main_section h2 { font: normal 1.2em SansationRegular,sans-serif; }
#main_section > ul { list-style-type: none; padding: 0; }
#main_section #prev_page, #main_section #next_page { color: #06f; text-decoration: none; }
#main_section #prev_page:hover, #main_section #next_page:hover { text-decoration: underline; }
#main_section #prev_page { float: left; }
#main_section #next_page { float: right; }

.sub_section { display: inline-block; zoom: 1; *display: inline; vertical-align: top; }
.sub_section h1 { font: normal 20px SansationRegular; color: #4a667b; /* text-shadow: 0 1px 0 #fff; */ padding: 3px 0; margin: 0 0 8px 0; border-bottom: 1px solid #888; -moz-box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; box-shadow: 0 1px 0 #fff; }
.sub_section ul { list-style-type: none; padding: 0; }
.sub_section .sidebox { padding: 0 1em; margin-bottom: 1em; }
.sub_section .sidebox ul { margin: 0; padding: 0; }
.sub_section .sidebox ul img { vertical-align: middle; }
.sub_section .sidebox ul.list { padding-left: 0.7em; text-indent: -0.7em; }
.sub_section .sidebox ul.social_list li { margin: 3px 0; }
.sub_section a { text-decoration: none; color: #6e6e6e; }
.sub_section a:hover { color: #333; text-decoration: underline; }

#content { min-height: 480px; }

#sidebar { width: 225px; min-height: 700px; padding: 10px 0 0 20px; line-height: 1.5em; }
#sidebar #search_input { width: 174px; }
#sidebar #search-button { padding: 2px; }

article { margin: 0 0 2.5em 0; }
article header p { color: #808080; }
article header p a { text-decoration: none; }
article .entry-content { color: #333; font-size: 1em; font-family: Droid Sans,sans-serif; }
article .entry-content p { margin-top: 1em; }

footer { padding: 10px 0; color: #fff; min-height: 138px; }

::-webkit-input-placeholder { color: #cdcdcd; font-style: italic; }

:-moz-placeholder { color: #eee; font-style: italic; }

#search-form { position: relative; display: inline-block; *display: inline; zoom: 1; vertical-align: bottom; margin-bottom: 5px; width: 210px; }
#search-form #search-input { color: #eee; border: 1px solid #eee; background-color: #7b7b7b; padding: 3px 25px 3px 15px; width: 170px; -moz-border-radius: 15px; border-radius: 15px; -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2); -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2); }
#search-form #search-input:focus { outline: none; }
#search-form .search-submit { position: absolute; right: 3px; top: 4px; }

#dsq-content h3 { font: normal 1.1em SansationRegular,sans-serif; }

pre { padding: 5px 10px; overflow-y: hidden; overflow-x: auto; background-color: #fff; margin: 10px; font-size: 1em; }

code { background-color: #fff; font-family: "Droid Sans Mono",Monaco,"DejaVu Sans Mono",monospace; }

.pagination { text-align: center; position: relative; padding-top: 1em; padding-bottom: 1em; background: url("/static/images/dotted-border.png") repeat-x top left; font-size: 18px; }
.pagination a.prev { position: absolute; left: 0; }
.pagination a.next { position: absolute; right: 0; }

img.left { float: left; margin: 0 10px; }
img.right { float: right; margin: 0 10px; }

/* ==|== non-semantic helper classes ======================================== Please define your styles before this section. ========================================================================== */
/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix { zoom: 1; }
.clearfix:before { content: ""; display: table; }
.clearfix:after { content: ""; display: table; clear: both; }

/* ==|== media queries ====================================================== PLACEHOLDER Media Queries for Responsive Design. These override the primary ('mobile first') styles Modify as content requires. ========================================================================== */
@media only screen and (min-width: 480px) { /* Style adjustments for viewports 480px and over go here */ }

@media only screen and (min-width: 768px) { /* Style adjustments for viewports 768px and over go here */ }

/* ==|== print styles ======================================================= Print styles. Inlined to avoid required HTTP connection: h5bp.com/r ========================================================================== */
@media print { * { background: transparent !important; color: black !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  /* Black prints faster: h5bp.com/s */
  a { text-decoration: underline; }
  a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }
  a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* h5bp.com/t */
  tr { page-break-inside: avoid; }
  img { page-break-inside: avoid; max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
