/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]), [hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  font-family: sans-serif;
  color: #222; }

button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
::-moz-selection, ::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */
a {
  color: #00e; }
  a:visited {
    color: #551a8b; }
  a:hover {
    color: #06e; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }
  q:before, q:after {
    content: "";
    content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure, form {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input {
  *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
button {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

/*
 * Consistent box sizing and appearance
 */
/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== primary styles =====================================================
   Author: Lance
   ========================================================================== */
.cse .gsc-branding, .gsc-branding {
  display: none; }

.cse .gsc-control-cse div, .gsc-control-cse div {
  position: normal; }

.cse .gsc-control-cse, .gsc-control-cse {
  padding: 1em;
  width: auto;
  background-color: transparent; }

.cse .gsc-control-cse:after, .gsc-control-cse:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.cse .gsc-resultsHeader, .gsc-resultsHeader {
  border: block; }

.cse input.gsc-search-button {
  border: 0;
  margin: 0 0 1px 0;
  padding: 0;
  text-indent: -1000em;
  background: transparent url("http://static.tumblr.com/oz01bku/YBklqmm6n/icon_search.png") no-repeat center top;
  width: 16px;
  height: 16px; }

input.gsc-search-button {
  border: 0;
  margin: 0 0 1px 0;
  padding: 0;
  text-indent: -1000em;
  background: transparent url("http://static.tumblr.com/oz01bku/YBklqmm6n/icon_search.png") no-repeat center top;
  width: 16px;
  height: 16px; }
input.gsc-input {
  border-color: #BCCDF0; }

.gsc-clear-button {
  display: none; }

.cse .gsc-tabHeader.gsc-tabhInactive, .gsc-tabHeader.gsc-tabhInactive {
  border-bottom: none;
  color: #666666;
  background-color: #e9e9e9;
  border: 1px solid;
  border-color: #e9e9e9;
  border-bottom: none; }

.cse .gsc-tabHeader.gsc-tabhActive, .gsc-tabHeader.gsc-tabhActive {
  background-color: #FFFFFF;
  border: 1px solid;
  border-top: 2px solid;
  border-color: #e9e9e9;
  border-top-color: #FF9900;
  border-bottom: none; }

.cse .gsc-tabsArea, .gsc-tabsArea {
  margin-top: 1em;
  border-bottom: 1px solid #e9e9e9; }

.cse .gsc-webResult.gsc-result, .gsc-webResult.gsc-result, .gsc-imageResult-column, .gsc-imageResult-classic {
  padding: .25em;
  margin-bottom: 1em; }

.gsc-results .gsc-imageResult-classic:hover, .gsc-results .gsc-imageResult-column:hover {
  border: 1px solid;
  border-color: #FFFFFF; }

.cse .gs-promotion, .gs-promotion {
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #336699; }

.cse .gs-promotion a.gs-title:link, .gs-promotion a.gs-title:link, .cse .gs-promotion a.gs-title:link *, .gs-promotion a.gs-title:link *, .cse .gs-promotion .gs-snippet a:link, .gs-promotion .gs-snippet a:link, .cse .gs-promotion a.gs-title:visited, .gs-promotion a.gs-title:visited, .cse .gs-promotion a.gs-title:visited *, .gs-promotion a.gs-title:visited *, .cse .gs-promotion .gs-snippet a:visited, .gs-promotion .gs-snippet a:visited, .cse .gs-promotion a.gs-title:hover, .gs-promotion a.gs-title:hover, .cse .gs-promotion a.gs-title:hover *, .gs-promotion a.gs-title:hover *, .cse .gs-promotion .gs-snippet a:hover, .gs-promotion .gs-snippet a:hover, .cse .gs-promotion a.gs-title:active, .gs-promotion a.gs-title:active, .cse .gs-promotion a.gs-title:active *, .gs-promotion a.gs-title:active *, .cse .gs-promotion .gs-snippet a:active, .gs-promotion .gs-snippet a:active {
  color: #0000CC; }

.cse .gs-promotion .gs-snippet, .gs-promotion .gs-snippet, .cse .gs-promotion .gs-title .gs-promotion-title-right, .gs-promotion .gs-title .gs-promotion-title-right, .cse .gs-promotion .gs-title .gs-promotion-title-right *, .gs-promotion .gs-title .gs-promotion-title-right * {
  color: #000000; }

.cse .gs-promotion .gs-visibleUrl, .gs-promotion .gs-visibleUrl {
  color: #008000; }

.gsc-completion-selected {
  background: #D5E2FF; }

.gsc-completion-container {
  font-family: Arial, sans-serif;
  font-size: 13px;
  position: absolute;
  background: white;
  border: 1px solid #666666;
  margin-left: 0;
  margin-right: 0; }

.gs-webResult div.gs-visibleUrl-short {
  display: none; }
.gs-webResult div.gs-visibleUrl-long {
  display: block; }

.gs-no-results-result .gs-snippet, .gs-error-result .gs-snippet {
  background-color: transparent!important;
  border: 0!important; }

/* vi: set sw=2 ts=2 : */
body {
  font-family: "Droid Sans", Verdana;
  background: url(/static/img/background.png); }

a {
  color: #06e; }
  a:visited {
    color: #06e; }
  a:hover {
    color: #888; }

.container {
  width: 760px;
  margin: 0 auto;
  padding: 0 30px; }

header div#banner {
  background: white url(/static/img/nav_bg.jpg) repeat-x;
  height: 60px; }
  header div#banner nav {
    color: #ccc;
    display: inline-block;
    width: 535px;
    margin: 25px 0 0 0; }
    header div#banner nav ul {
      list-style-type: none; }
      header div#banner nav ul li {
        line-height: 35px;
        display: inline-block; }
        header div#banner nav ul li.active, header div#banner nav ul li a {
          -webkit-border-top-left-radius: 4px;
          -webkit-border-top-right-radius: 4px;
          -moz-border-radius-topleft: 4px;
          -moz-border-radius-topright: 4px;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px; }
        header div#banner nav ul li.active {
          padding: 0 15px;
          color: #000;
          background: white url(/static/img/background.png); }
        header div#banner nav ul li a {
          display: block;
          height: 35px;
          text-decoration: none;
          padding: 0 15px;
          color: #fff;
          background-color: #003643;
          background-color: rgba(0, 54, 67, 0.4);
          -webkit-transition: all 0.25s ease-out;
          -moz-transition: all 0.25s ease-out;
          -o-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out; }
          header div#banner nav ul li a:hover {
            color: #fff;
            background-color: #003643; }
header hgroup#heading {
  padding-top: 20px; }
header hgroup h1 {
  margin: 0;
  width: 760px;
  font: normal 40px "Special Elite";
  text-shadow: 0 2px 1px #fff; }
  header hgroup h1 img {
    vertical-align: middle;
    margin-right: 10px; }
  header hgroup h1 a {
    text-decoration: none; }
    header hgroup h1 a:link, header hgroup h1 a:visited {
      color: #006680; }
header hgroup h2 {
  color: #6f918a;
  font: normal 18px "Droid Sans";
  margin: 0; }

a.fat_button {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  font-family: arial;
  font-size: 12px;
  padding: 3px 5px;
  text-decoration: none;
  background-color: #ddd;
  color: #333;
  text-shadow: 1px 1px 0px #fff; }
  a.fat_button:hover {
    background-color: #888;
    color: #f3f3f3;
    text-shadow: 1px 1px 0px #333; }
  a.fat_button:active {
    position: relative;
    top: 1px; }

#main_section {
  margin: 0 30px 20px 0;
  width: 500px;
  display: inline-block;
  vertical-align: top;
  font-size: 1.1em; }
  #main_section h1 {
    font: normal 24px "Droid Sans";
    color: #000;
    text-shadow: 0 1px 0 #fff; }
    #main_section h1 a {
      color: #000;
      text-decoration: none; }
      #main_section h1 a:visited {
        color: #000; }
      #main_section h1 a:hover {
        color: #06e; }
  #main_section > ul {
    list-style-type: none;
    padding: 0; }
  #main_section #prev_page, #main_section #next_page {
    color: #06f;
    text-decoration: none; }
  #main_section #prev_page:hover, #main_section #next_page:hover {
    text-decoration: underline; }
  #main_section #prev_page {
    float: left; }
  #main_section #next_page {
    float: right; }

.sub_section {
  display: inline-block;
  vertical-align: top; }
  .sub_section h1 {
    font: bold 18px "Special Elite";
    color: #555;
    text-shadow: 0 1px 0 #fff;
    padding: 3px 0;
    margin: 0 0 8px 0;
    /* border-bottom: 1px solid #888; -moz-box-shadow: 0 1px 0 #fff; -webkit-box-shadow: 0 1px 0 #fff; box-shadow: 0 1px 0 #fff; */ }
  .sub_section ul {
    list-style-type: none;
    padding: 0; }
  .sub_section .sidebox {
    padding: 0 1em;
    margin-bottom: 1em; }
    .sub_section .sidebox ul {
      margin: 0;
      padding: 0; }
      .sub_section .sidebox ul.list {
        padding-left: 0.7em;
        text-indent: -0.7em; }
  .sub_section a {
    text-decoration: none;
    color: #006680; }
    .sub_section a:hover {
      text-decoration: underline; }

#content {
  min-height: 480px; }

#blogroll {
  width: 225px; }
  #blogroll #search_input {
    width: 174px; }
  #blogroll #search-button {
    padding: 2px; }

article {
  margin: 0 0 2.5em 0; }
  article header p {
    color: #808080; }
    article header p a {
      text-decoration: none; }
  article .entry-content p {
    color: #222;
    margin-top: 1em; }

footer {
  border-top: 1px solid #555;
  padding: 10px 0;
  -moz-box-shadow: 0 1px 0 #eee;
  -webkit-box-shadow: 0 1px 0 #eee;
  box-shadow: 0 1px 0 #eee; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }
  .ir br {
    display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix {
  zoom: 1; }
  .clearfix:before {
    content: "";
    display: table; }
  .clearfix:after {
    content: "";
    display: table;
    clear: both; }

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */ }

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */ }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr {
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
