---
layout: base
---
<section id="main_section">
{{ content }}
</section>
<section id="blogroll" class="sub_section">
    <ul>
        <li>{% include search.html %}</li>
        <li><h1>Recent</h1>
            <div class="sidebox"><ul class="list">{% for post in site.posts limit:10 %}
                <li> &raquo; <a href="{{ post.url }}">{{ post.title | xml_escape }}</a></li>{% endfor %}
            </ul>
            <p><a href="archive.html">See all posts »</a></p>
        </div></li>
        <li><h1>Social</h1>
            <div class="sidebox"><ul>
                <li><div class="fb-like" data-href="http://www.lancejian.com" data-send="false" data-width="180" data-show-faces="false"></div></li>
                <li><a href="http://twitter.com/lancelotj" class="twitter-follow-button" data-show-count="false">Follow @lancelotj</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
                <li><p><a href="http://feeds.feedburner.com/lancejian" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/>&nbsp;Subscribe</a></p></li>
            </ul>
        </div></li>
        <li><h1>Links</h1>
            <div class="sidebox">
            <ul class="list"><li>» <a href="http://www.ui3net.com/">AoQurage</a></li>
                <li>» <a href="http://www.vcn.bc.ca/~dugan/">Dugan Chen's Homepage</a></li>
                <li>» <a href="http://www.k3vin.net/">k3vin.net</a></li>
                <li>» <a href="http://www.owenhope.ca/">Owen Hope</a></li>
                <li>» <a href="http://www.ynotmartins.com/">Tony Martins</a></li>
            </ul> 
        </div></li>
    </ul>
</section>