---
layout: base
---
<section id="main_section">
{{ content }}
</section>
<section id="blogroll" class="sub_section">
    <ul>
        <li>{% include search.html %}</li>
        <li><h1>Recent</h1>
            <div class="sidebox"><ul class="list">{% for post in site.posts limit:10 %}
                <li> &raquo; <a href="{{ post.url }}">{{ post.title | xml_escape }}</a></li>{% endfor %}
            </ul>
            <p><a href="archive.html">See all posts »</a></p>
        </div></li>
        <li><h1>Social</h1>
            <div class="sidebox"><ul class="social_list">
                <li><img src="/static/img/twitter_16.png" alt="Twitter"/> <a href="http://twitter.com/lancelotj">Follow @lancelotj</a></li>
                <li><img src="/static/img/rss_16.png" alt=""/> <a href="http://feeds.feedburner.com/lancejian" rel="alternate" type="application/rss+xml">Subscribe</a></li>
            </ul>
        </div></li>
        <li><h1>Links</h1>
            <div class="sidebox">
            <ul class="list"><li>» <a href="http://www.ui3net.com/">AoQurage</a></li>
                <li>» <a href="http://www.vcn.bc.ca/~dugan/">Dugan Chen's Homepage</a></li>
                <li>» <a href="http://www.k3vin.net/">k3vin.net</a></li>
                <li>» <a href="http://www.owenhope.ca/">Owen Hope</a></li>
                <li>» <a href="http://www.ynotmartins.com/">Tony Martins</a></li>
            </ul> 
        </div></li>
    </ul>
</section>