<!doctype html>
<!--[if IE 6 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/static/favicon.ico"/>
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/lancejian"/>
    <link href='http://fonts.googleapis.com/css?family=Special+Elite|Droid+Sans|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/styles.css"/>

<body>
<header>
    <div id="banner">
        <div class="container">
            <nav>
            <ul>
                <li><a href="/">Blog</a></li>
            </ul>
            </nav>
        </div>
    </div>
    <hgroup id="heading" class="container">
    <img id="logo" src="/static/images/logo.png" alt="Logo" />
    <h1><a href="/">{{ page.title }}</a></h1>
    <h2>{{ page.subtitle }}</h2>
    </hgroup>
</header>
<div class="container">
    <div id="content">
<section id="main_section">
{{ contents }}
</section>
<section id="blogroll" class="sub-section" >
    <ul><!--
        <li><h1>Posts</h1></li>
        <li><h1>Categories</h1></li>
        -->
        <li><div id="cse-search-form" style="width: 100%;">Loading...</div></li>
        <li><h1>Tags</h1></li>
        <li><h1><a href="http://twitter.com/lancelotj/"><img src="http://static.tumblr.com/oz01bku/kqDlqu0bv/twitter.png" alt="twitter"/></a></h1>
            <ul id="tweets"></ul>
        </li>
        <li><h1>Social</h1>
        <ul>
            <li><script type="text/javascript" src="http://connect.facebook.net/en_US/all.js#appId=237736936261652&amp;xfbml=1"></script><div id="fb-root"></div><fb:like href="http://www.lancejian.com" send="false" width="180" show_faces="false" font=""></fb:like></li>
            <li><a href="http://twitter.com/lancelotj" class="twitter-follow-button" data-show-count="false">Follow @lancelotj</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
            <li><p><a href="http://feeds.feedburner.com/lancejian" rel="alternate" type="application/rss+xml"><img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/></a>&nbsp;<a href="http://feeds.feedburner.com/lancejian" rel="alternate" type="application/rss+xml">Subscribe in a reader</a></p></li>
        </ul>
        </li>
        <li><h1>Links</h1>
            <ul><li><a href="http://www.ui3net.com/">AoQurage</a></li>
                <li><a href="http://www.vcn.bc.ca/~dugan/">Dugan Chen's Homepage</a></li>
                <li><a href="http://www.k3vin.net/">k3vin.net</a></li>
                <li><a href="http://www.owenhope.ca/">Owen Hope</a></li>
                <li><a href="http://www.ynotmartins.com/">Tony Martins</a></li>
            </ul> 
        </li>
    </ul>
</section>
</div>
<footer>
    <p>&copy; lancejian.com. All rights reserved. </p>
</footer>
</div>
<script src="http://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/site.js"></script>
</body>
</html>
